<nav>
    <ul class="noStyle">
        <li>
            <a href="#">
                <i class="fas fa-2x fa-gamepad"></i>
                <div>Games</div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-2x fa-globe-americas"></i>
                <div>Web&nbsp;apps</div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-2x fa-film"></i>
                <div>Animations</div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-2x fa-envelope"></i>
                <div>Contact</div>
            </a>
        </li>
    </ul>
</nav>