<div id="titleBanner">
    <div class="widthControl flexRowVertAlign">
        <div id="logoBlock">
            <a href="./"><img width="50px" height="50px" src="images/logo.png" class="margCenter" /></a>
            <br />
            <span>Odin von Doom</span>
        </div>
        <%- include('./navigation'); %>
    </div>
</div>