<div>
    <div class="centred">
        <iframe class="subHeaderDispElem" src="./games/tornadoom/index.html" width="800" height="800" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <iframe class="subHeaderDispElem" src="https://www.youtube.com/embed/yxV5FFod7A8" width="800" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>

<br><strong>About Tornadoom:</strong><br>
<p>
    Tornadoom is more-or-less a tech demo, meant to show off some of the features of Engine von Doom.
    It's a fun little cow-chuckin' romp that'll give you a good laugh if you're sense of humour is as twisted as mine!
</p>

<br><strong>About the Engine:</strong><br>
<p>
    Tornadoom is built with a webGL engine of my own design and build.<br>
    Notable features include (click section to expand):
</p>

<ul class="sliderList noStyle">
    <% for(let i = 0; i < gamePgData.length; i++) { %>
        <li>
            <div><%= gamePgData[i]['title']; %></div>
            <div class="engineDescWindow">
                <% for(let j = 0; j < gamePgData[i]['block'].length; j++) { %>
                    <p><%= gamePgData[i]['block'][j]['blurb'] %></p>
                    <img src="<%= gamePgData[i]['block'][j]['imgSrc'] %>" />
                <% } %>
            </div>
        </li>
    <% } %>
</ul>